@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans:
    Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --font-mono: var(--font-geist-mono);
  --accent: #e0522f;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card); /* new accent color */
  --color-theme-50: var(--theme-50);
  --color-theme-100: var(--theme-100);
  --color-theme-200: var(--theme-200);
  --color-theme-300: var(--theme-300);
  --color-theme-400: var(--theme-400);
  --color-theme-500: var(--theme-500);
  --color-theme-600: var(--theme-600);
  --color-theme-700: var(--theme-700);
  --color-theme-800: var(--theme-800);
  --color-theme-900: var(--theme-900);
  --color-theme-950: var(--theme-950);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #e0522f; /* slightly darker accent for dark mode */
  }
}

@layer utilities {
  .bg-accent {
    background-color: var(--accent);
  }
  .text-accent {
    color: var(--accent);
  }
  .border-accent {
    border-color: var(--accent);
  }
  .text-theme-50 {
    color: var(--theme-50);
  }
  .text-theme-100 {
    color: var(--theme-100);
  }
  .text-theme-200 {
    color: var(--theme-200);
  }
  .text-theme-300 {
    color: var(--theme-300);
  }
  .text-theme-400 {
    color: var(--theme-400);
  }
  .text-theme-500 {
    color: var(--theme-500);
  }
  .text-theme-600 {
    color: var(--theme-600);
  }
  .text-theme-700 {
    color: var(--theme-700);
  }
  .text-theme-800 {
    color: var(--theme-800);
  }
  .text-theme-900 {
    color: var(--theme-900);
  }
  .text-theme-950 {
    color: var(--theme-950);
  }
}

body {
  font-family: var(--font-sans);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.1712 0.0426 22.65);
  --foreground: oklch(100% 0.00011 271.152);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.6249 0.1839 34.9);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --theme-50: oklch(0.9728 0.0118 51.32);
  --theme-100: oklch(0.9359 0.0274 49.59);
  --theme-200: oklch(0.8666 0.0589 46.37);
  --theme-300: oklch(0.7811 0.0999 43.92);
  --theme-400: oklch(0.6844 0.1502 37.77);
  --theme-500: oklch(0.6249 0.1839 34.9);
  --theme-600: oklch(0.574 0.1903 31.41);
  --theme-700: oklch(0.4957 0.1701 29.08);
  --theme-800: oklch(0.427 0.138 27.03);
  --theme-900: oklch(0.3723 0.1121 26.29);
  --theme-950: oklch(0.1712 0.0426 22.65);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --theme-50: oklch(0.9728 0.0118 51.32);
  --theme-100: oklch(0.9359 0.0274 49.59);
  --theme-200: oklch(0.8666 0.0589 46.37);
  --theme-300: oklch(0.7811 0.0999 43.92);
  --theme-400: oklch(0.6844 0.1502 37.77);
  --theme-500: oklch(0.6249 0.1839 34.9);
  --theme-600: oklch(0.574 0.1903 31.41);
  --theme-700: oklch(0.4957 0.1701 29.08);
  --theme-800: oklch(0.427 0.138 27.03);
  --theme-900: oklch(0.3723 0.1121 26.29);
  --theme-950: oklch(0.1712 0.0426 22.65);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
